.form-horizontal .control-label {
	text-align: left !important;
}
#alert-overlay {
	display: none;
	position: fixed;
	z-index: 1050;
	width: 30%;
	top: 60px;
	right: 5%;
}
#main-box{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.49);
}
footer{
	height: 30px;
	margin: 10px 0;
}
footer > div{
	margin-right: 20px;
	font-size: 12px;
	line-height: 12px;
}